<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativepurchasely">

  <application>
    <activity android:name=".PLYProductActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity android:name=".PLYSubscriptionsActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
  </application>

</manifest>
